.home-container{ 
    padding: 0vw 7vw;

    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.home-container-img {
  position: relative;

  max-height: 223px;

  overflow: hidden;
  border-radius: 2vw;
}

.home-text-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  

  

  color: #FFFFFF;
  font-size: calc(10px + 1.75vw);
  white-space: nowrap;
  
  font-family: "Montserrat";
}

.home-img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  overflow: hidden;

  filter: brightness(60%);
}

@media screen and (max-width:768px) {
  .home-text-img{
    white-space: normal;
  }
}
@media screen and (max-width:400px) {
  .home-text-img{
    white-space: normal;
    font-size: 4vw;
  }
}
